<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2 way data binding</title>
    <script src="./vue.js"></script>
</head>

<body>
    <!-- 2 way data binding -->
    <div id="data-binding">
        <input type="text" placeholder="Enter your name" v-model="name"> <br /> {{name}}
        <br />
        <input type="text" placeholder="Enter your age" v-model="age"><br /> {{age}}

    </div>


    <script src="./2-way-data-binding.js"></script>
</body>

</html>